@model Feature
<form method="post" class="container-fluid">
    <h1>Create</h1>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input asp-for="Title" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Description</label>
        <input asp-for="Desc" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">RedirectUrl</label>
        <input asp-for="RedirectUrl" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">IconClass</label>
        <input asp-for="IconClass" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>