@model Slider
<form method="post" class="container-fluid">
    <h1>Create</h1>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title 1</label>
        <input asp-for="Title1" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title 2</label>
        <input asp-for="Title2" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Description</label>
        <input asp-for="Desc" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">RedirectUrl</label>
        <input asp-for="RedirectUrl" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">ImageUrl</label>
        <input asp-for="ImageUrl" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>